<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/blog.css">
    <title>National Park Blog</title>
</head>
<body>
    <div class="blog_main">
        <div>
            <ul class="hr">
                <li class="hr"><h3><a href="/">Home</a></h3></li>
                <li class="hr"><h3><a href="/attractions">Attractions</a></h3></li>
                <li class="hr"><h3><a href="active" class="active">Blogs</a></h3></li>
            </ul>
        </div>
        <!--<div class="side-bar">
            <ul class="vr">
                <li class="vr"><a class="active" href="#home">Home</a></li>
                <li class="vr"><a href="#news">News</a></li>
                <li class="vr"><a href="#contact">Contact</a></li>
                <li class="vr"><a href="#about">About</a></li>
            </ul>
        </div>-->
        <div class="container">
            <div class="heading"><h3>Blog Heading </h3></div>
            <div class="para_blog"><p>A blog (a truncation of "weblog") is a discussion or informational website published on the World Wide Web consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order, so that the most recent post appears first, at the top of the web page. Until 2009, blogs were usually the work of a single individual,[citation needed] occasionally of a small group, and often covered a single subject or topic. In the 2010s, "multi-author blogs" (MABs) emerged, featuring the writing of multiple authors and sometimes professionally edited. MABs from newspapers, other media outlets, universities, think tanks, advocacy groups, and similar institutions account for an increasing quantity of blog traffic. The rise of Twitter and other "microblogging" systems helps integrate MABs and single-author blogs into the news media. Blog can also be used as a verb, meaning to maintain or add content to a blog.</p></div>
            <div class="image_blog" ><img class="blog_img" src = "images/blog.jpg"></div>
            <div class="para_blog"><p>A blog (a truncation of "weblog") is a discussion or informational website published on the World Wide Web consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order, so that the most recent post appears first, at the top of the web page. Until 2009, blogs were usually the work of a single individual,[citation needed] occasionally of a small group, and often covered a single subject or topic. In the 2010s, "multi-author blogs" (MABs) emerged, featuring the writing of multiple authors and sometimes professionally edited. MABs from newspapers, other media outlets, universities, think tanks, advocacy groups, and similar institutions account for an increasing quantity of blog traffic. The rise of Twitter and other "microblogging" systems helps integrate MABs and single-author blogs into the news media. Blog can also be used as a verb, meaning to maintain or add content to a blog.</p></div>
            <div class="image_blog" ><img class="blog_img" src = "images/blog2.jpg"></div>
            <br>
            <br>
            <div class="input_blog">
                <form action="#" method="POST">
                    <textarea type="text" id="comment" name= "comment" placeholder="Enter your comment..."></textarea>
                    <input type="text" id="name" name="name" placeholder="Enter Name...">
                    <input type="submit" value="Publish">
                </form>
            </div>
            <div class="show_comments">
                    <% for(let i=0; i < data.blogs.length; i++) {%>
                        <p class="owner"><%= data.blogs[i].name %></p>
                        <div class="commt"></h4><%= data.blogs[i].comment %></div>
                    <% } %>
            </div>
        </div>
    </div>
</body>
</html>